<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anki Card app</title>
    <!-- Add Bootstrap CSS link here (You can download Bootstrap or use a CDN) -->
    <!-- Include Bootstrap CSS -->
    <link href="{{ url_for('static', path='/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.scss">
</head>

<body>
    <!-- Header -->
    <header class="bg-light py-2">
        <div class="container d-flex justify-content-between align-items-center">
            <!-- Your Logo (Assuming you have an image for the logo) -->
            <img src="../static/images/Logo_Data_Engineering_101.png" alt="logo" class="logo img-fluid w-50 h-50">
            <!-- Navigation Menu -->
            <nav class="navbar navbar-expand-lg navbar-light">
                <!-- Add your navigation links here -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Create your own cards</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  " href="#">Create user account</a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand" href="#">
                            <img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Bootstrap" width="30" height="24">
                        </a>
                    </li>

                    <!-- Add more navigation links as needed -->
                </ul>
            </nav>
        </div>
    </header>

    <!-- Functionalities Section -->
    <div class="container mt-3 text-center">
        <!-- Flash Session Button -->
        <button class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#themeModal">Launch Flash
            Session</button>
    </div>

    <!-- Theme Selection Modal -->
    <div class="modal fade" id="themeModal" tabindex="-1" aria-labelledby="themeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="themeModalLabel">Select Themes</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Replace 'Theme 1', 'Theme 2', ... with your actual theme names -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Theme 1" id="theme1">
                        <label class="form-check-label" for="theme1">Theme 1</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Theme 2" id="theme2">
                        <label class="form-check-label" for="theme2">Theme 2</label>
                    </div>
                    {% for theme in themes %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="{{theme.id}}" id="theme2">
                        <label class="form-check-label" for="theme2">{{ theme.theme }}</label>
                    </div>
                    {% endfor %}
                    <!-- Add more theme options as needed -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                        onclick="launchFlashSession()">Start</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Main Content - Grid for Cards -->
    <div class="container mt-5">
        <p>Watch all the cards here :</p>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for card, theme in card_themes %}
            <div class="col">
                <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                    <!-- <img src="..." class="card-img-top" alt="..."> -->
                    <div class="card-header">{{ theme.theme }}</div>
                    <div class="card-body">
                        <h5 class="card-title">Question</h5>
                        <p class="card-text">{{ card.question }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Footer -->
    <footer class="bg-light py-2">
        <div class="container text-center">
            <!-- Add your footer content here -->
            <p>© 2023 Data Engineering 101. All rights reserved.</p>
        </div>
    </footer>

    <!-- Include Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="{{ url_for('static', path='/bootstrap.min.js') }}"></script>

    <!-- Include your custom JavaScript file -->
    <script src="/static/scripts.js"></script>
</body>

</html>