<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <!-- Add Bootstrap CSS link here (You can download Bootstrap or use a CDN) -->
    <!-- Include Bootstrap CSS -->
    <link href="{{ url_for('static', path='/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', path='/bootstrap-icons/font/bootstrap-icons.min.css') }}">
    <link rel="stylesheet" href="/static/style.scss">
</head>

<body>
    <!-- Header -->



    <!-- Include Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="{{ url_for('static', path='/bootstrap.min.js') }}"></script>

    <!-- Include your custom JavaScript file -->
    <script src="/static/scripts.js"></script>
</body>

</html>